.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app{
  
  min-height: 100vh;
  background: rgb(37, 131, 185);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  
  top: 20px;
  margin-left: 5%;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px  rgba(0, 0, 0, 0.6);
}


